<section class="flex items-center justify-center h-svh">
  <label class="flex cursor-pointer gap-2">
    <span class="label-text">Dark</span>
    <input type="checkbox" value="light" class="toggle theme-controller" />
    <span class="label-text">Light</span>
  </label>
</section>
