# ELixir / Phoenix
/.fetch
/_build/
/assets/node_modules/
/cover/
/deps/
/doc/
/priv/static/assets/
/priv/static/cache_manifest.json
/tmp/

*.ez
erl_crash.dump
hap-*.tar
npm-debug.log

# Environment-specific
/.config/mise.toml
