<ul>
  <li>
    <.link navigate={~p"/users/log_in"} data-id="sign-in">Sign in</.link>
  </li>
  <li>
    <.link navigate={~p"/users/register"} data-id="register">Register</.link>
  </li>
</ul>

<%= @inner_content %>
